<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medicare</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../static/css/Api.css" rel="stylesheet" />
    <link rel="icon" href="../static/image/heartbeat.png" type="image/x-icon" />
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"
          ><i class="fa fa-heartbeat"></i> Medicare</a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="#home" class="nav-item nav-link active">Home</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#service" class="nav-item nav-link">Vitals</a>
            <a href="#X-Rays" class="nav-item nav-link">X-Rays</a>
            <a href="#Brislet" class="nav-item nav-link">Brislet</a>
            <a href="/prediction" class="nav-item nav-link">Prediction</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Hero Start -->
    <div class="hero" id="home">
      <div class="container-fluid" style="min-height: 60vh">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-6">
            <div class="hero-content">
              <div class="hero-text">
                <br /><br /><br />
                <p>I'm</p>
                <h1>Person Name..</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
      <div class="container-fluid">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>About Me</p>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="about-img">
              <img src="../static/image/pngwing.png" alt="Image" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="about-content">
              <div class="section-header text-left">
                <div class="skills">
                  <div class="skill-name">
                    <p>Age: <span>40</span></p>
                    <br />
                  </div>
                  <div class="skill-name">
                    <p>Gender: <span>Male</span></p>
                    <br />
                  </div>
                  <div class="skill-name">
                    <p>Phone: <span>+2003006800</span></p>
                    <br />
                  </div>
                  <div class="skill-name">
                    <p>Emergency Phone: <span>+2003006800</span></p>
                    <br />
                  </div>
                  <div class="skill-name">
                    <p>Addres: <span>Cuntry/ town </span></p>
                    <br />
                  </div>
                  <div class="skill-name">
                    <p>blood type: <span>A+</span></p>
                    <br />
                  </div>
                  <!-- <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="service" id="service">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>Vitals</p>
        </div>
        <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
            <div class="service-item">
              <div class="service-icon">
                <img src="../static/image/sugar-blood-level.png" />
              </div>
              <div class="service-text">
                <h3>Diabetes :</h3>
                <p>120 ,Status : (Medium)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-item">
              <div class="service-icon">
                <img src="../static/image/arm.png" />
              </div>
              <div class="service-text">
                <h3>Blood Pressure :</h3>
                <p>120/80</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="service-item">
              <div class="service-icon">
                <img src="../static/image/thermometer.png" />
              </div>
              <div class="service-text">
                <h3>Temperature :</h3>
                <p>37 C</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="service-item">
              <div class="service-icon">
                <img src="../static/image/life-line.png" />
              </div>
              <div class="service-text">
                <h3>Pulse :</h3>
                <p>70 beats par min</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Service End -->

    <!-- Portfolio Start -->
    <div class="portfolio" id="X-Rays">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>My X-rayes</p>
        </div>
        <div class="row">
          <div class="col-12">
            <ul id="portfolio-filter">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-1">BRAIN</li>
              <li data-filter=".filter-2">chest</li>
            </ul>
          </div>
        </div>
        <div class="row portfolio-container">
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp"
            data-wow-delay="0.0s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/brain tumer1.jpeg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>brain tumer1</h3>
                <a
                  class="btn"
                  href="../static/image/brain tumer1.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/brain tumer4.jpg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>brain tumer2</h3>
                <a
                  class="btn"
                  href="../static/image/brain tumer4.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp"
            data-wow-delay="0.4s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/covid19no.jpeg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>covid19no</h3>
                <a
                  class="btn"
                  href="../static/image/covid19no.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/brain tumer2.jpeg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>brain tumer3</h3>
                <a
                  class="btn"
                  href="../static/image/brain tumer2.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp"
            data-wow-delay="0.8s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/PneumoniaYES.jpeg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>PneumoniaYES</h3>
                <a
                  class="btn"
                  href="../static/image/PneumoniaYES.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp"
            data-wow-delay="1s"
          >
            <div class="X-raye-wrap">
              <div class="X-rayes-img">
                <img src="../static/image/covid19yes.jpeg" alt="Image" />
              </div>
              <div class="X-rayes-text">
                <h3>covid19yes</h3>
                <a
                  class="btn"
                  href="../static/image/covid19yes.jpeg"
                  data-lightbox="X-raye"
                  >+</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio End -->
    <!-- Banner Start -->

    <section id="Brislet" style="padding-bottom:50px ;">
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
      >
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>Brislet</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <!-- Heart Rate Circle -->
          <div
            class="rounded-circle text-primary d-flex justify-content-center align-items-center"
            style="
              width: 160px;
              height: 160px;
              background-color: white;
              color: black;
              border: solid #46697a;
              margin-right: 50px;
            "
          >
            <h3 id="HeartRate" class="text-center fs-6" style="color: #46697a; font-size:25px;">
              Heart Rate
            </h3>
          </div>
          <!-- Temperature Circle -->
          <div
            class="rounded-circle text-white d-flex justify-content-center align-items-center"
            style="
              width: 160px;
              height: 160px;
              background-color: #46697a;
              color: white;
              margin-left: 50px;
            "
          >
            <h3 id="Temperature" class="text-white" style="font-size:25px;">Temperature</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/typed/typed.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../static/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/APi.js"></script>
  </body>
</html>
